{% extends '@FrontendUser/layout.html.twig' %}

{% block content %}
    {{ parent() }}
    <form action="{{ path('frontend_user_login') }}" method="post">
        <div class="form-group">
            <label for="username" class="control-label required">{{ "backend.form.user_register.field.username"|trans }}:</label>
            <input type="text" class="form-control" id="username" name="_username" value=""/>
        </div>

        <div class="form-group">
            <label for="password" class="control-label required">{{ "backend.form.user_register.field.password"|trans }}:</label>
            <input type="password" class="form-control" id="password" name="_password"/>
        </div>
        <input type="hidden" name="_target_path" value="{{ absolute_url(path("frontend_user_homepage")) }}"/>
        <div class="form-group">
            <button type="submit" class="btn-default btn">{{ "backend.form.field.login"|trans }}</button>
        </div>
    </form>
{% endblock %}

