{% extends "@FrontendUser/layout.html.twig" %}

{% block title %}
    {{ "backend.form.user_register.title"|trans }}
{% endblock %}

{% block content_name %}
    {{ "backend.form.user_register.title"|trans }}
{% endblock %}

{% block content %}
    {{ parent() }}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    {{ form_start(form) }}
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.username) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.email) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.plainPassword.first) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.plainPassword.second) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            {{ form_row(form.firstname) }}
        </div>
        <div class="col-md-4">
            {{ form_row(form.lastname) }}
        </div>
    </div>
    <div class="row">
        <div class="col-md-3">
            {{ form_row(form.submit) }}
        </div>
    </div>
    {{ form_end(form) }}
{% endblock %}