{% extends "@FrontendUser/layout.html.twig" %}

{% block content %}
    <div class="float-right">
        <a href="#" class="action-create btn btn-success">{{ "frontend.view.list.create"|trans }}</a>
    </div>
    <div style="display:none;" id="user_form">
        {{ form_start(form) }}
        {{ form_rest(form) }}
        <button type="submit" id="submit_user_form" class="btn btn-success">{{ "frontend.view.list.save"|trans }}</button>
        {{ form_end(form) }}
    </div>
    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>{{ "backend.form.user_register.field.username"|trans }}</th>
            <th>{{ "backend.form.user_register.field.email"|trans }}</th>
            <th>{{ "backend.form.user_register.field.firstname"|trans }}</th>
            <th>{{ "backend.form.user_register.field.lastname"|trans }}</th>
            <th>{{ "frontend.view.list.actions"|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr data-id="{{ user.id }}">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.firstname }}</td>
                <td>{{ user.lastname }}</td>
                <td>
                    <a href="#"
                       class="btn btn-primary action-edit" data-id="{{ user.id }}">
                        {{ "frontend.action.edit"|trans }}
                    </a>
                    <a href="#" class="btn btn-danger action-delete">
                        {{ "frontend.action.delete"|trans }}
                    </a>

                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <script type="text/javascript">
        /**
         * Handle success action with cast message
         * @param response
         * @param callback
         */
        function handleSuccess(response, callback) {
            if (response && response["message"]) {
                alert(response["message"]);
            }

            callback && callback();
        };

        /**
         * Handle error with cast message from response
         * @param response
         * @param status
         * @param callback
         */
        function handleError(response, status, callback) {
            if (response && response.responseJSON["message"]) {
                alert(response.responseJSON["message"]);
            }

            callback && callback();
        };

        function getUserFormData($form) {
            var result = {};

            result["username"] = $form.find("#form_username").val();
            result["email"] = $form.find("#form_email").val();
            result["password"] = $form.find("#form_password").val();
            result["firstname"] = $form.find("#form_firstname").val();
            result["lastname"] = $form.find("#form_lastname").val();
            result["is_active"] = $form.find("#form_is_active").is(":checked");

            return result;
        };

        function setUserFormData($form, data) {
            $form.data("type", "edit");
            $form.data("id", data["id"]);
            $form.find("#form_username").val(data["username"]);
            $form.find("#form_email").val(data["email"]);
            $form.find("#form_password").val(data["password"]);
            $form.find("#form_firstname").val(data["firstname"]);
            $form.find("#form_lastname").val(data["lastname"]);
            $form.find("#form_is_active").prop("checked", data["is_active"]);
        };

        /**
         * Get user data
         * @param id
         * @param callback
         */
        function getUser(id, callback) {
            $.ajax({
                url: "{{ path("frontend_user_list_get") }}",
                data: {"user": id},
                method: "GET",
                success: function (response) {
                    if (response && response.data) {
                        callback && callback(response.data);
                    }
                }
            });

        };

        function createUser($form) {
            var data = getUserFormData($form);
            $form.hide();
            $.ajax({
                url: "{{ path("frontend_user_list_create") }}",
                method: "POST",
                data: {"data": JSON.stringify(data)},
                success: function (response) {
                    handleSuccess(response);
                    window.location.reload();
                },
                error: function (response, status) {
                    handleError(response, status);
                }
            }).always(function () {
                $form.show();
            });
        };

        function editUser($form) {
            var data = getUserFormData($form);
            data["id"] = $form.data("id");

            $form.hide();
            $.ajax({
                url: "{{ path("frontend_user_list_edit") }}",
                method: "PUT",
                data: {"data": JSON.stringify(data)},
                success: function (response) {
                    handleSuccess(response);
                    window.location.reload();
                },
                error: function (response, status) {
                    handleError(response, status);
                }
            }).always(function () {
                $form.show();
            });
        };

        var request = {};
        $(document).ready(function () {
            $(".action-edit").on("click", function (e) {
                e.preventDefault();
                var id = $(this).data("id");
                getUser(id, function (data) {
                    var $formContainer = $("#user_form");
                    $formContainer.show();
                    setUserFormData($formContainer.find("form"), data);
                });
            });

            $("#user_form form").on("submit", function (e) {
                e.preventDefault();
                var $this = $(this);
                var type = $this.data("type") || "create";
                switch (type) {
                    case "create":
                        createUser($this);
                        break;
                    case "edit":
                        editUser($this);
                        break;
                }
            });

            $(".action-create").on("click", function (e) {
                e.preventDefault();

                var $formContainer = $("#user_form");
                var $form = $formContainer.find("form");
                $form.data("type", "create");
                $form.find("input").val("");
                $form.find("input[type=checkbox]").prop("checked", false);

                if ($formContainer.is(":hidden")) {
                    $formContainer.show();
                }
                else {
                    $formContainer.hide();
                }
            });

            $(".action-delete").on("click", function (e) {
                e.preventDefault();
                var $this = $(this);
                if ($this.hasClass("processing")) {
                    return;
                }

                $this.addClass("processing");
                var url = '{{ path("frontend_user_list_delete") }}';

                var $parent = $this.closest("tr");
                var user = $parent.data("id");
                var data = {user: user};


                request["delete"] = $.ajax({
                    url: url,
                    data: data,
                    dataType: 'json',
                    type: "DELETE",
                    success: function (response, status) {
                        handleSuccess(response, function () {
                            $parent.remove();
                        });
                    },
                    error: function (response, status) {
                        handleError(response);
                    }
                }).always(function () {
                    $this.removeClass("processing");
                });
            });
        });
    </script>
{% endblock %}