{% extends "base.html.twig" %}

{% import _self as macros %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset("/bundles/backenduser/css/bootstrap.min.css") }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    {#<script src="{{ asset("/bundles/backenduser/js/bootstrap.min.js") }}"></script>#}
{% endblock %}

{% block body %}
    {% block header %}
        {{ macros.build_nav() }}
    {% endblock %}


    <div class="container">
        {% for type, flashes in app.session.flashbag.all %}
            {% for flash in flashes %}
                <div class="alert alert-{{ type }}">
                    {{ flash }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block content %}
            <h3>{% block content_name %} {% endblock %}</h3>
        {% endblock %}
    </div>
{% endblock %}

{% macro build_nav() %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">User App</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path("frontend_user_homepage") }}">{{ "frontend.menu.home.title"|trans }} <span
                                class="sr-only">(current)</span></a>
                </li>
                {% if not is_granted("IS_AUTHENTICATED_FULLY") %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path("frontend_user_register") }}">{{ "frontend.menu.register.title"|trans }} </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path("frontend_user_login") }}">{{ "frontend.menu.login.title"|trans }} </a>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link"
                       href="{{ path("frontend_user_list_list") }}">{{ "frontend.menu.list.title"|trans }} </a>

                    {% endif %}
            </ul>
            <ul class="navbar-nav navbar-right">
                {% if is_granted("IS_AUTHENTICATED_FULLY") %}
                    <li class="nav-item navbar-right">
                        <a class="nav-link"
                           href="{{ path("logout") }}">{{ "frontend.menu.logout.title"|trans({"%name%": app.user.display}) }} </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </nav>
{% endmacro %}